<h1 class="display-4">
    Register Form 
</h1>

<form>
    <div class="form-group">
        <input name= "firstname" class= "form-control" placeholder= "First Name">
    </div>

    <div class="form-group">
        <input name= "lastname" class= "form-control" placeholder= "Last Name">
    </div>

    <div class="form-group">
        <input name= "address" class= "form-control" placeholder= "Address">
    </div>

    <div class="form-group">
        <input name= "email" class= "form-control" placeholder= "Email">
    </div>

    <div class="form-group">
        <input name= "mobile" class= "form-control" placeholder= "Mobile">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
    </div>
</form>
