<div class="container">
    <table class="table table-dark spacetbl">

        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Mobile</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>Kenya</td>
                <td>john@gmail.com</td>
                <td>+254 7383992</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>Kenya</td>
                <td>john@gmail.com</td>
                <td>+254 7383992</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>Kenya</td>
                <td>john@gmail.com</td>
                <td>+254 7383992</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>Kenya</td>
                <td>john@gmail.com</td>
                <td>+254 7383992</td>
            </tr>
        </tbody>
    </table>
</div>
